@model ContosoUniversity.Models.Department

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Administrator != null)
            {
                <a asp-action="Details" asp-controller="Instructors" asp-route-id="@Model.Administrator.ID">
                    @Html.DisplayFor(model => model.Administrator.FullName)
                </a>
            }
        </dd>
        @if (Model.Courses != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Courses)
            </dt>
            <dd class="col-sm-10">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Courses)
                    {
                        <tr class="position-relative">
                            <td>
                                <a class="stretched-link" asp-action="Details" asp-controller="Courses" asp-route-id="@item.CourseID">@item.CourseID</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
