@model ContosoUniversity.Models.Course

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Details" asp-controller="Departments" asp-route-id="@Model.Department.DepartmentID">
                @Html.DisplayFor(model => model.Department.Name)
            </a>
        </dd>
        @if (Model.CourseAssignments != null)
        {
            foreach (var item in Model.CourseAssignments)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseAssignments)
                </dt>
                <dd class="col-sm-10">
                    <a asp-action="Details" asp-controller="Instructors" asp-route-id="@item.InstructorID">
                        @item.Instructor.FullName
                    </a>
                </dd>
            }
        }
        @if (Model.Enrollments != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Enrollments)
            </dt>
            <dd class="col-sm-10">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Enrollments)
                        {
                            <tr class="position-relative">
                                <td>
                                    <a class="stretched-link" asp-action="Details" asp-controller="Students" asp-route-id="@item.StudentID">
                                        @Html.DisplayFor(modelItem => item.Student.FullName)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Grade)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </dd>
        }
    </dl>
</div>
