@{
    ViewBag.Title = "Update Course Credits";
}

<h2>@ViewData["Title"]</h2>

@if (ViewData["RowsAffected"] == null)
{
    <form asp-action="UpdateCourseCredits">
        <div class="form-actions no-color">
            <p>
                <select asp-items="@ViewBag.DepartmentID" name="DepartmentID">
                    <option value="">-- Select Department --</option>
                </select>
            </p>
            <p>
                Enter a number to multiply every course's credits by: @Html.TextBox("multiplier")
            </p>
            <p>
                <input type="submit" value="Update" class="btn btn-primary" />
            </p>
        </div>
    </form>
}
else
{
    <p>
        Number of rows updated: @ViewData["RowsAffected"]
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
